/* Google Fonts (Inter) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background-color: #3e4444;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

}

/* Navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.771);
    /* Fully opaque white */
    backdrop-filter: blur(3px);
    /* Adds blur effect */
    border-bottom: 3px solid transparent;
    /* Transparent border initially */
    transition: border-color 0.3s ease;
    /* Smooth transition for border color */
}

.logo {
    height: 2rem;
}

.navbar-brand {
    margin-left: 50px;
    font-weight: 700;
}

.navbar-nav {
    margin-right: 50px;
}

.nav-item {
    padding-left: 10px;
}

.paper {
    top: 9.5px;
    left: 472px;
    width: 150px;
    font-size: 15px;
    height: 45px;
    background-color: #73EACB;
    border-radius: 8px;
    padding: 4px;
    margin-left: 5px;
    margin-top: -3px;
    align-items: center;
    text-align: center;
}

/* .paper:hover{
    background-color: #73EACB;
} */
.paper a {
    color: #ffffff;
}

/* Hover effect under nav */
.nav-item:not(.paper):hover {
    font-weight: bold;
}

.nav-item:not(.paper):hover .nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #73EACB;
    margin-top: 5px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

/* Top */
#Top {
    text-align: center;
}

.Top-button {
    margin: 3%;
}

/* Hero section */
.hero-section {
    width: 92%;
    height: 100vh;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
    /* Align content to the left */
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
}

.hero-section .hero-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
}

.hero-section .hero-content {
    z-index: 1;
    max-width: 40rem;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.451);
    backdrop-filter: blur(4px);
    padding: 20px;
    text-align: left;
    margin-left: 2rem;
    border-radius: 16px;
}

/* Hero Headings styles */
.heroHead {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: left;
}

.heroHead2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
}

/* About us section */
.about-us {
    padding: 2rem 0;
    background-color: #F8FAFA;
}

#about-us,
#blder {
    font-weight: bolder;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.about-us .card {
    margin-bottom: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: 380px;
    width: 100%;
    height: 100%;
}


.about-us .container {
    max-width: 100%;
    padding: 0;
}

.about-us .row {
    margin: 0;
}

.about-us .col-md-3 {
    padding: 1rem;
}





/* Other sections */
.scope,
.important-dates,
.call-for-papers {
    padding: 2rem 0;
}

/* Container */
.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

.inter {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.card-body {
    width: 100%;
}

.cdb1 {
    margin-left: 22%;
}

.cdb2 {
    padding-left: 5%;
}

.no-margin-right {
    margin-right: 0;
}

/* Important dates */
.bgImage {
    background-image: linear-gradient(to bottom, #ffffff00, rgba(255, 255, 255, 0)), url('bg2.svg');
}

.imp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imp .card-impDet {
    padding: 2rem;
    width: 25rem;
    background: rgba(255, 255, 255, 0.55);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.275);
    margin: auto 12px;
}



.qrCode,
.accDet {
    padding: 1rem;
}

#zero {
    color: red;
}

.registration-details .accDet {
    /* Child objects in a smart layout frame */
    position: static;
    left: 0px;
    top: 0px;
    width: 463px;
    height: 308px;
    border-radius: 16px;
    opacity: 1;

    /* Smart layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    gap: 32px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(60px);
    z-index: 0;
}

.registration-details .qrCode {
    /* Child objects in a smart layout frame */
    position: static;
    left: 655px;
    top: 0px;
    width: 292px;
    height: 308px;
    border-radius: 16px;
    opacity: 1;

    /* Smart layout */
    display: flex;
    flex-direction: row;
    padding: 38px 56px;

    background: rgba(255, 255, 255, 0.5);

    backdrop-filter: blur(60px);

    z-index: 1;
}

.registration-details .qrCode .img-fluid {
    width: 180px;
    height: 180px;
}

.registerClick {
    /* Child objects in a smart layout frame */
    position: static;
    left: 31px;
    top: 200px;
    width: 118px;
    height: 32px;
    border-radius: 8px;
    opacity: 1;
    margin-top: 20px;

    /* Smart layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    gap: 0px 0px;
    flex-wrap: wrap;
    align-content: center;

    background: #FFFFFF;

    z-index: 1;
}

.txtCP {
    width: 80%;
}


/* Patron */
.chief-patron {
    display: flex;
    justify-content: center;
}


.chief-patron .speaker-card {
    background-color: #fff;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 1rem;
    text-align: center;
    margin: 0;
    /* Remove margin from cards */
    width: 300px;
    /* Reduced width */
}

.chief-patron .speaker-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
}


/* Scope */
#scope-section {
    padding-bottom: 3rem;
  }
  
  .scope-heading {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  .sub-heading {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .scope-grid {
    display: grid;
    grid-gap: 1rem;
    justify-content: center;
  }
  
  .scope-row {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  
  .scope-row.three-columns {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
  }
  
  .scope-box {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: background-color 0.3s;
    height: auto; /* Change height to auto */
    line-height: 1.2;
    display: flex; /* Add flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .long-box {
    height: auto;
    line-height: 1.2;
    padding: 0.5rem;
  }
  
  .scope-box:hover {
    cursor: pointer;
    background-color: #73EACB;
  }
  
  @media (max-width: 768px) {
    .scope-row,
    .scope-row.three-columns {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .scope-row,
    .scope-row.three-columns {
      grid-template-columns: repeat(1, minmax(150px, 1fr));
    }
  }
/* End */





/* Container styles */
.container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* Center text within the container */
.text-center {
    text-align: center;
}

/* Responsive grid settings */
.row {
    display: flex;
    justify-content: center;
}

.col-md-2,
.col-sm-4,
.col-sm-6 {
    padding: 0.5rem;
    /* Add some padding around the columns */
}

@media (max-width: 768px) {
    .CM {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .container .row .col-sm-4 .CM {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .CM {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Committe members */
.committee-members {
    display: grid;
    grid-template-columns: repeat(4, minmax(210px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
  }
  
  .member-box {
    height: 35px;
    padding: 0.5rem;
    text-align: center;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: background-color 0.3s;
    display: flex; /* Add flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .member-box:hover {
    cursor: pointer;
    background-color: #73EACB;
  }
  
  .long-name {
    height: auto;
    line-height: 1.2;
    padding: 0.5rem;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .committee-members {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  
    .member-box {
      height: auto; /* Change height to auto */
      line-height: 1.2; /* Adjust line-height */
    }
  }
  
  @media (max-width: 575px) {
    .committee-members {
      grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
  
    .member-box {
      height: auto; /* Change height to auto */
      line-height: 1.2; /* Adjust line-height */
    }
  }


/* Common Styles */
.notable-speakers,
.advisory-board {
    padding: 2rem;
    text-align: center;
}

/* Grid Container */
.speaker-grid,
.member-grid {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    /* Four cards per row, each card 200px wide */
    justify-content: center;
    /* Center the grid */
    gap: 0;
    /* Remove gap between grid items */
}

/* Card Styles */
.speaker-card,
.member-card {
    background-color: #fff;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 1rem;
    text-align: center;
    margin: 0;
    /* Remove margin from cards */
    width: 250px;
    /* Reduced width */
}

/* Image Styles */
.speaker-card img,
.member-card img {
    width: 200px;
    height: 210px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.Patrons-grid{
    display: grid;
    grid-template-columns: repeat(2, 450px);
    /* Four cards per row, each card 200px wide */
    justify-content: center;
    /* Center the grid */
    gap: 2rem;
}

.Patrons-speakers{
    padding: 2rem;
    text-align: center;
}
.Patrons{
    background-color: #fff;
    padding: 1rem;
    /* text-align: center; */
    width: 450px;
}

.Patrons img{
    width: 200px;
    height: 210px;
    object-fit: cover;
    margin-bottom: 1rem;
}


.name, .member-designation{
    font-size: 16px;
    font-weight: 700;
    color: #555;
}

.cen {
    margin-left: 100%;
}

/* Responsive Styles */
@media (max-width: 1200px) {

    .speaker-grid,
    .member-grid, .Patrons-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: center;
        /* Ensure centered alignment */
    }

    .cen {
        margin-left: 0;
    }
}

@media (max-width: 768px) {

    .speaker-card,
    .member-card, .Patrons {
        width: 100%;
        /* Full width for smaller screens */
    }

    .speaker-grid,
    .member-grid, .Patrons-grid {
        grid-template-columns: repeat(1, 1fr);
        /* Two cards per row on smaller screens */
    }

    .cen {
        margin-left: 0;
    }
}



/* Authors */

.authors-section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    overflow: hidden;
}

.authors-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('authorBg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    background-repeat: no-repeat;

    z-index: -2;

}

.authors-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;

}

.authors-section h3,
.authors-section p,
.authors-section h1,
.authors-section ul {
    position: relative;
    color: #fff;
    /* Ensures all text elements are white */
}

.authors-section h1::after {
    border-bottom: 2px solid #fff;
    /* Change the underline color to white */
}


.btn-unique {
    background-color: #73EACB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.btn-unique:hover {
    /* background-color: #316a2e; */
    background-color: #57b59c;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 60px 50px;
    width: 100vw;
    /* Use viewport width */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
}

.footer-section {
    margin-bottom: 20px;
}


.footer .footer-section p #adr {
    padding-left: 24px;
}

.footer .footer-section p #phone {
    padding-left: 28px;
}

.footer .foot {
    text-align: left;
}

.footer-section p {
    margin-bottom: 10px;
}

#jhAdress,
#foot-link {
    text-decoration: none;
    color: #fff;
}

.footer-section i {
    margin-right: 10px;
}

.footer-section p i.fa-phone {
    vertical-align: middle;
    /* Vertically center icons between phone numbers */
}

.footer-maintained {
    background-color: #484444;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    height: 40px;
    margin-bottom: -20px;
    font-size: 12px;
}

.dev {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}


/* Media Queries */
@media(min-width: 1200px) {
        
.qrCode,
.accDet {
    padding: 1rem;
}

#zero {
    color: red;
}

.registration-details .accDet {
    /* Child objects in a smart layout frame */
    position: static;
    left: 0px;
    top: 0px;
    width: 463px;
    height: 308px;
    border-radius: 16px;
    opacity: 1;

    /* Smart layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    gap: 40px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(60px);
    z-index: 0;
}

.registration-details .qrCode {
    /* Child objects in a smart layout frame */
    position: static;
    left: 655px;
    top: 0px;
    width: 292px;
    height: 308px;
    border-radius: 16px;
    opacity: 1;
    margin-left: 67px;
    /* Smart layout */
    display: flex;
    flex-direction: row;
    padding: 38px 56px;

    background: rgba(255, 255, 255, 0.5);

    backdrop-filter: blur(60px);

    z-index: 1;
}

.registration-details .qrCode .img-fluid {
    width: 180px;
    height: 180px;
}

.registerClick {
    /* Child objects in a smart layout frame */
    position: static;
    left: 31px;
    top: 200px;
    width: 118px;
    height: 32px;
    border-radius: 8px;
    opacity: 1;
    margin-top: 20px;

    /* Smart layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
    gap: 0px 0px;
    flex-wrap: wrap;
    align-content: center;

    background: #FFFFFF;

    z-index: 1;
}

.txtCP {
    width: 80%;
}


}


@media (max-width: 1200px) {

    .navbar-brand,
    .hero-text {
        margin-left: 0;
        margin-right: 0;
    }

    .container-fluid {
        margin-left: 0;
        margin-right: 0;
    }

    .logo {
        height: 3rem;
    }

    .hero-section {
        width: 100%;
        left: 0;
        padding: 1rem;
        justify-content: center;
        height: 48rem;
    }

    .hero-section .hero-image {
        height: 70vh;
        width: 100vh;
        border-radius: 0;
    }

    .hero-section .hero-content {
        margin: 0;
        /* Center the content */
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.726);
        /* backdrop-filter: blur(15px); */

        text-align: center;

    }

    .registration-details .accDet,
    .registration-details .qrCode {
        width: fit-content;
        margin: auto;
    }

    .about-us .col-md-3 {
        width: 80%;
        padding: 0;
        margin-bottom: 10px;
    }

    .about-us .col-md-3:nth-child(2) .card {
        height: auto;
    }


    .HR .box,
    .Cm1 .box {
        height: 364px;
        line-height: 25px;
    }

    .footer {
        background-color: #333;
        color: #fff;
        padding: 60px 50px;
        width: 100vw;
        /* Use viewport width */
        box-sizing: border-box;
        /* Include padding and border in the width calculation */
        margin-bottom: 0;
    }


    .dev {
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
    }

}

@media (max-width: 575px) {
    .navbar {
        width: 100%;
    }

    .hero-section {
        width: 100%;
        height: 38rem;
    }

    .hero-section .hero-image {
        height: 70vh;
        width: 100vh;
    }

    .hero-section .hero-content {
        max-width: 100%;
        padding: 1rem;
        margin: 0 auto;

        background-color: rgba(255, 255, 255, 0.185);
        backdrop-filter: blur(4px);
        /* margin-top: -14rem; */
    }

    .about-us {
        width: 100%;
    }

    .about-us .col-md-3 {
        width: 80%;
        padding: 0;
        align-items: center;
        margin-bottom: 2rem;
        margin-left: 1rem;
    }

    .about-us .row {
        margin: 0;
        padding: 0;
    }

    .about-us .card-body {
        padding: 1rem;
    }

    .bgImage {
        width: 100%;
    }

    .imp {
        flex-direction: column;
        align-items: center;
    }

    .imp .card-impDet {
        width: 90%;
        margin: 5px 12px;
    }

    .registerClick {
        margin-top: 1rem;
    }

    .call-for-papers {
        width: 100%;
        padding: 2rem;
    }

    #scope {
        width: 100%;
        padding: 1rem;

    }

    #about-us,
    #blder {
        font-weight: bolder;
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .HR .box,
    .Cm1 .box {
        height: 64px;
        line-height: 25px;
    }

    #Cmem {
        width: 100%;
        padding: 1rem;
    }

    .advisory-board,
    .notable-speakers,
    .authors-section, .Patrons-speakers {
        width: 100%;
    }

    .footer {
        background-color: #333;
        color: #fff;
        padding: 60px 50px;
        width: 100vw;
        /* Use viewport width */
        box-sizing: border-box;
        /* Include padding and border in the width calculation */
    }

    .footer .footer-section p #adr {
        padding-left: 0px;
    }

    .footer-maintained {
        background-color: #484444;
        color: #ffffff;
        text-align: center;
        padding: 5px;
        height: 40px;
        margin-bottom: 0;
    }


    .dev {
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
    }

    .Patrons{
        margin-left: 0;
    }


}