/* Google Fonts (Inter) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background-color: #3e4444;
    font-family: 'Inter', sans-serif;
}

/* Navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0);
    color: #3e4444;
}

.logo {
    height: 4rem;
}

.navbar-brand {
    margin-left: 50px;
    font-weight: 700;
}

.navbar-nav {
    margin-right: 50px;
}

.nav-item {
    padding-left: 10px;
}


.paper {
    /* position: absolute;  */
    /* Use 'position: absolute' or 'position: fixed' */
    top: 9.5px;
    /* Adjust the top position */
    left: 472px;
    /* Adjust the left position */
    width: 150px;
    /* Set the width */
    height: 45px;
    /* Set the height */
    background-color: #279E27;
    border-radius: 8px;
    padding: 4px;
    margin-left: 5px;
    margin-top: -3px;
}

.paper a {
    color: #ffffff;
}

/* Hover effect ______ under nav */
.nav-item:not(.paper):hover {
    font-weight: bold;
}

.nav-item:not(.paper):hover .nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    /* Adjust the height of the line as needed */
    background-color: #279E27;
    /* Green color */
    margin-top: 5px;
    /* Adjust the spacing between the text and the line */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    text-align: center;
}


/* Top */
#Top {
    text-align: center;
}

.Top-button {
    margin: 3%;
}

/* Hero section */
.hero-section {
    width: 92%;
    min-height: 90vh;
    /* top: 5%; */
    left: 5%;
    
    display: flex;
    align-items: center;
    
    justify-content: start;
    /* padding: 2rem 0; */
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
    /* padding-right: 5%; */
}


.hero-section .hero-image {
    position: absolute;
    object-fit: cover;
    /* border-radius: 5rem; */
    /* padding: 0 2rem; */
    /* margin-left: 3%; */
}

.hero-section .hero-content {
    /* 
    text-align: center;
    color: white;
    
    position: absolute;
    margin-left: 10%; */
    
    /* top: 40%; */
    /* left: 50%; */
    margin-left: 2rem;
    z-index: 1;
    max-width: 40rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.185); /* Adjust the alpha (transparency) value as needed */
    backdrop-filter: blur(10px); /* Adjust the blur strength as needed */
    padding: 20px;
}


/* hero Headings styles */
.heroHead {
    /* width: 50%; */
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: left;
}

.heroHead2{
    /* width: 50%; */
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
}






/* Footer */
/* #footer {
    text-align: center;
    padding: 7% 15%;
    margin-left: 3%;
} */

/* About us section */
.about-us {
    padding: 2rem 0;
}

#about-us{
    font-weight: bolder;
}
.about-us .card {
    margin-bottom: 1rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: calc(100% + 5px);
    /* Increase card width by 5px */
}

.about-us .card-body {
    text-align: justify;
    padding: 2rem 3rem 2rem 2rem;
    /* Add more padding on the right */
}

.about-us .container {
    max-width: 100%;
    padding: 0;
}

.about-us .row {
    margin: 0 -2.5px;
    /* Negative margin to compensate for column padding */
}

.about-us .col-md-3 {
    padding: 0 2.5px;
    /* Add padding to columns */
    margin-left: 2rem;
}

.about-us .col-md-3:nth-child(2) .card {
    height: calc(100% - 10px);
    /* Adjust the height of the center card */
}


/* Other sections */
.scope,
.important-dates,
.call-for-papers {
    padding: 2rem 0;
}

/* Container */
.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

/* Inter font class */
.inter {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.card-body {
    width: 400px;
}

.cdb1 {
    margin-left: 22%;
}

.cdb2 {
    padding-left: 5%;
}


/* Add this CSS to your existing CSS file */
.no-margin-right {
    margin-right: 0;
}


/* Important dates */
.bgImage {
    background-image: linear-gradient(to bottom, #ffffff00, rgba(255, 255, 255, 0)), url('pawel-czerwinski-cx90ak4WBFQ-unsplash.svg');
}

.imp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 10px; */

}

.imp .card-impDet{
    padding: 2rem;
    width: 25rem;
    background: rgba(255,255,255,0.55);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.275);
    margin: auto 5px;
    
}

.registerClick {
    margin-top: 1rem;
}

.qrCode,
.accDet {
    padding: 1rem;
}

#zero {
    color: red
}


.registration-details .accDet {
    padding: 1rem;
    background: rgba(255,255,255,0.55);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.275);
}
.registration-details .qrCode {
    padding: 1rem;
    background: rgba(255,255,255,0.55);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.275);
}

.txtCP{
    width: 80%;
}
.box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    /* font-weight: bold; */
}